 <!-- <input type="text" ng-model="model" placeholder="{{prompt}}" ng-keydown="selected=false"  ng-keyup="setCurrent(event=$event)" ng-init="count=0"/> key up count: {{current}} -->
<div ng-transclude ng-keydown=setCurrent(event=$event)></div>
<!--!model.length || ng-hide="selected" ng-init="selected=false" -->

<div class="items" >
	<div id="{{$index}}" class="item" alllist="items.length" ng-repeat="item in items  track by $index" ng-click="handleSelection(item[title])" style="cursor:pointer" ng-class="			{active:isCurrent($index)}" ng-mouseenter="setCurrent(event=$event,$index)">
		<p pID="{{$index}}" class="title">{{item.name}}</p>
		<p pID="{{$index}}" class="subtitle">{{item.abbreviation}}</p>
	</div>
</div>

